.about {
  margin: 0 auto;
  overflow-x: hidden;

  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;

  // background-position: top 20px left 0;
  // background-repeat: no-repeat;
  // background-size: auto;


  // background-image:
  //   image-set(url("../../img/tourists/tourists-mob_1x.webp") 1x type("image/webp"),
  //     url("../../img/tourists/tourists-mob_1x.jpg") 1x,
  //     url("../../img/tourists/tourists-mob_2x.webp") 2x type("image/webp"),
  //           url("../../img/tourists/tourists-mob_2x.jpg") 2x);


  // * {
  //   outline: auto;
  // }

  @include media-tablet {
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
    flex-direction: row;
  }

  @include media-desktop {
    padding-top: 99px;
    padding-bottom: 101px;
    width: 1440px;
    align-items: flex-start;
  }
}

.about__img {
  display: block;
  width: 434px;
    height: 400px;
  object-fit: cover;

  @include media-tablet {
    width: 450px;
    height: 350px;

    // margin-left: -30px;
  }

  @include media-desktop {
    width: 660px;
    height: 498px;
  }
}

.about__wysiwyg {
  // margin-top: 400px;
  padding-left: 15px;
  padding-right: 15px;
  // margin-top: -28px;

  @include media-tablet {
    padding-left: 0;
    padding-right: 48px;
    margin-top: 3px;
  }

  @include media-desktop {
    padding-right: 184px;
    margin-top: 0;
    }


  h2 {
    @include font ($size: 22px, $weight: 800);
    position: relative;
    margin-bottom: 25px;
    padding-top: 17px;
    padding-bottom: 17px;
    z-index: 1;

    &::after {
      // $color-text-shadow
      @include font ($size: 26px, $weight: 800, $color: $color-text-shadow);
      content: attr(data-tip);
      position: absolute;
      top: 3px;
      left: 0;
      z-index: -1;
      right: 0;

      @include media-tablet {
        font-size: 40px;
      }

      @include media-desktop {
        font-size: 55px;
        top: 1px;
      }
    }

    @include media-tablet {
      font-size: 25px;
      margin-bottom: 33px;
    }

    @include media-desktop {
      font-size: 35px;
      margin-bottom: 58px;
      padding-top: 45px;
      padding-bottom: 0;
    }
  }

  h3 {
    @include font ($size: 16px, $weight: 700);
    margin-bottom: 13px;

    @include media-tablet {
      font-size: 18px;
      margin-bottom: 12px;

      // background-color: aqua;
    }

    @include media-desktop {
      font-size: 21px;
      margin-bottom: 16px;
    }
  }

  p {
    @include font ($size: 14px, $line-height: 20px);
    margin-bottom: 27px;

    @include media-tablet {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 25px;

    }

    @include media-desktop {
      font-size: 14px;
      line-height: 22px;

      margin-bottom: 30px;
      padding-right: 15px;

      span {
        display: block;
      }
    }
  }
}

// .about__title {
//   margin-bottom: 28px;
//   padding-top: 19px;
//   padding-bottom: 14px;

//   @include media-tablet {
//     margin-bottom: 33px;
//   }

//   @include media-desktop {
//     margin-bottom: 58px;
//     padding-top: 41px;
//     padding-bottom: 0;

//     &::after {
//       top: 1px;
//     }
//   }
// }

// .about__subtitle {
//   margin-bottom: 15px;

//   @include media-tablet {
//     margin-bottom: 12px;
//   }

//   @include media-desktop {
//     margin-bottom: 16px;
//   }
// }

// .about__text {
//   margin-bottom: 25px;

//   @include media-tablet {
//     margin-bottom: 28px;
//   }

//   @include media-desktop {
//   margin-bottom: 30px;
//   padding-right: 15px;
//   }
// }