.about {
  padding-top: 20px;
  padding-bottom: 20px;
}

.about__img {
  width: 343px;
  height: 400px;
  object-fit: cover;
}

.about__title {
  margin-bottom: 25px;
}

.about__subtitle {
margin-bottom: 15px;
}

.about__text {
  margin-bottom: 25px;
}