.adv {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

    padding-top: 20px;
  padding-bottom: 20px;
  
  overflow-x: hidden;

  @include media-tablet {
    padding-top: 40px;
    padding-bottom: 40px;
      padding-left: 45px;
    padding-right: 45px;
  }

  @include media-desktop {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: $desktop-width;  
  }
}

.adv__title {
  padding-top: 17px;
  padding-bottom: 14px;
  margin-bottom: 22px;
  text-align: center;

  &::after {
    top: 4px;
  }

  @include media-tablet {
    padding-top: 20px;
    margin-bottom: 45px;

    &::after {
      top: 5px;
    }
  }

  @include media-desktop {
    padding-top: 35px;
    padding-bottom: 0;
    margin-bottom: 49px;

    &::after {
      top: 3px;
    }
  }
}

// .adv__swiper {
//   background-color: antiquewhite;
// }

.adv__list {
  box-sizing: border-box;
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 15px;
  // align-items: center;
  justify-content: center;

  @include media-tablet {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }

  @include media-desktop {
    margin-bottom: 50px;
    flex-wrap: nowrap;
    gap: 0;
    // justify-content: flex-start;
    // margin-left: 60px;
    margin-left: -335px;

    width: fit-content;
    // outline: auto;
  }
}

.adv__item {
  box-sizing: border-box;
  width: 290px;
  min-height: 239px;
  padding: 19px 9px 19px 9px;
  border: 1px solid $color-line-light;
  background-color: $color-white;

  text-align: center;

  &::before {
    box-sizing: border-box;
    content: '';
    display: block;
    margin: auto;
    width: 42px;
    height: 42px;
    border: 1px solid $color-bg-primary;
    margin-bottom: 20px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;

    @include media-tablet {
      width: 48px;
      height: 48px;
      margin-bottom: 26px;
    }

    @include media-desktop {
      width: 54px;
      height: 54px;
      margin-bottom: 26px;
    }
  }

  @include media-tablet {
    width: 324px;
    min-height: 340px;

    flex-grow: 0;

    flex-shrink: 0;
        padding: 30px 20px 27px 20px;
   
    &--level {
      padding-left: 19px;
      padding-right: 19px;
    }

    &--leaf {
      padding-bottom: 34px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @include media-desktop {
    width: 380px;
    min-height: 329px;
    flex-grow: 0;
    flex-shrink: 0;


    padding: 40px 20px 40px 20px;

    &::before {
      margin-bottom: 30px;
    }

    &--boots {
      padding-left: 19px;
    }
  }
}

.adv__item {
  &--level:before {
    background-image: url("../__spritemap#sprite-level-view");
  }

  &--crown:before {
    background-image: url("../__spritemap#sprite-crown-view");
  }

  &--boots:before {
    background-image: url("../__spritemap#sprite-boots2-view");
  }

  &--path:before {
    background-image: url("../__spritemap#sprite-path-view");
  }

  &--leaf:before {
    background-image: url("../__spritemap#sprite-leaf-view");
  }
}

.adv__wysiwyg {
  h3 {
    @include font ($size: 14px, $weight: 600);
    margin-bottom: 15px;

    @include media-tablet {
      font-size: 16px;
      margin-bottom: 15px;
    }

    @include media-desktop {
      font-size: 18px;
      margin-bottom: 15px;

      br {
        display: none;
      }
    }
  }

  p {
    @include font ($size: 12px, $line-height: 18px);
    br {
      display: none;
    }

    @include media-tablet {
      font-size: 14px;
      line-height: 22px;

      br {
        display: block;
      }
    }

    @include media-desktop {

      br {
        display: none;
      }
    }
  }
}

.adv__navigation {
  display: none;

  @include media-desktop {
    display: flex;
    justify-content: center;
  }
}

// .adv__swiper {
//   outline: auto;
// }

// .adv__subtitle {
//   @include font ($size: 14px, $weight: 600);
//   margin-bottom: 13px;

//   &::after {
//     text-align: center;
//     width: 100%;
//   }

//   @include media-tablet {
//     font-size: 16px;
//     margin-bottom: 14px;

//   }

//   @include media-desktop {
//     font-size: 18px;
//   }
// }

// .adv__subtitle .transfer {
//   display: block;

//   @include media-desktop {
//     display: inline-block;
//   }
// }