.bullit {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid $color-white;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;

  margin: 5px;

  &--current {
    background-color: $color-white;
  }

  @include media-tablet {
    width: 20px;
    height: 20px;
  }

  &:hover,
  &:active {
    background-color: $color-white-50;
  }

  &:focus {
    outline: 1px solid $color-white-50;
    outline-offset: 2px;
    background-color: blueviolet;
  }

  &:disabled {
    background-color: $color-disabled-bullit;
  }

}