.button {
  box-sizing: border-box;

  padding: 19px 20px;
  background-color: $color-bg-primary;
  border: 1px solid  $color-bg-primary;

  cursor: pointer;

  &:hover {
    color: $color-active;
    border: 1px solid $color-active;
    background-color: $color-white;

  }

  &:focus {
    color: $color-active;
    border: 1px solid transparent;
    background-color: $color-white;
    outline: none;
  }

  &:active {
    color: $color-white;
    border: 1px solid $color-active;
    background-color: $color-active;
  }

  &:disabled {
    color: $color-white;
    border: 1px solid $color-disabled;
    background-color: $color-disabled;
  }

}