.contacts {
  padding-top: 20px;
  padding-bottom: 20px;
}

.contacts__title {
  margin-bottom: 12px;
}

.contacts__text {
  margin-bottom: 30px;
}

.contacts__list {
  @include list-reset;

}

.contacts__wrapp {
  // margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contacts__item {
  margin-bottom: 30px;
  display: flex;
  gap: 10px;

  &::before {
    content: '';
    display: inline-block;
    // margin: auto;
    width: 22px;
    height: 22px;
   
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 22px;
  }

  &--phone:before {
    background-image: url("../__spritemap#sprite-phone-view");
  }

  &--mail:before {
    background-image: url("../__spritemap#sprite-mail-view");
  }

  &--address {
  margin-right: 20px;
  }

  &--address:before {
    background-image: url("../__spritemap#sprite-address-view");
  }
}

.contacts__img {
  margin-left: -15px;
  margin-right: -15px;
  display: block;
  width: 320px;
  height: 343px;
  object-fit: cover;

  @include media-tablet {
    width: 768px;
    height: 340px;
  }

  @include media-desktop {
    width: 600px;
    height: 324px;
  }
}
