.footer {
  padding-top: 23px;
  padding-bottom: 20px;
  border-top: 1px solid $color-line-footer;
  text-align: center;

// background-color: rgb(188, 197, 206);

  @include media-tablet {
    padding-top: 34px;
  }

  @include media-desktop {
    padding-top: 32px;
    max-width: $desktop-width;
    margin: 0 auto;
  }
}

.footer__logo {
  display: block;
  width: 142px;
  height: 42px;
  margin-bottom: 19px;
  margin-left: auto;
  margin-right: auto;
  flex-shrink: 0;

  @include media-tablet {
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 42px;
  }

  @include media-desktop {
    margin: 0;
    padding: 9px 29px;
  }
}

.footer__wrapp {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @include media-tablet {
    flex-direction: row;
    align-items: center;
    margin-bottom: 34px;
  }

  @include media-desktop {
    justify-content: space-between;
    margin-bottom: 22px;
  }
}

.footer__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  gap: 9px 50px;
  justify-content: center;

  @include media-tablet {
    flex-wrap: nowrap;
    justify-content: space-between;

    gap: 20px;
  }


  @include media-desktop {
    margin-bottom: 0;
    gap: 30px;
  }
}

.footer__item {
  width: 120px;

  @include media-tablet {
    width: fit-content;
  }
}

.footer__social-list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-bottom: 18px;

  @include media-tablet {
    margin-bottom: 26px;
  }

  @include media-desktop {
    margin-bottom: 16px;
  }
}

.footer__social-item {
  box-sizing: border-box;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid $color-line;
  flex-shrink: 0;
}

.footer__social-link {
  display: block;
  width: 30px;
  height: 30px;

  background-repeat: no-repeat;
  background-position: center;

  &--vk {
    background-size: 16px 9px;
    background-image: url("../__spritemap#sprite-vk-view");
  }

  &--ok {
    background-size: 9px 16px;
    background-image: url("../__spritemap#sprite-ok-view");
  }

  &--reddit {
    background-size: 14px 15px;
    background-image: url("../__spritemap#sprite-reddit-view");
  }
}

.footer__tel {
  display: none;

  @include media-desktop {
    display: block;
    @include font ($size: 18px, $weight: 600);


  }
}