.form {
  padding-top: 10px;
  padding-bottom: 10px;
   display: flex;
  flex-direction: column;
  min-height: 638px;

  text-align: center;
  color: $color-white;
  background-color: $color-bg-img;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),

    image-set(url("../../img/form-bg_1x.webp") 1x type("image/webp"),
      url("../..img/form-bg_1x.jpg") 1x,
      url("../../img/form-bg_2x.webp") 2x type("image/webp"),
      url("../../img/form-bg_2x.jpg") 2x);

      @include media-tablet {
        min-height: 680px;
      }

}

.form__wrapp {
  width: 258px;
  margin: auto;
}

.form__title {
  margin-bottom: 20px;
  color: $color-white;

  @include media-tablet {
    margin-bottom: 25px;
  }
}

.form__text {
  margin-bottom: 20px;
  color: $color-white;

  @include media-tablet {
    margin-bottom: 25px;
  }
}

.form__field {
  box-sizing: border-box;
  display: block;
  height: 50px;
  width: 100%;
  padding: 17px 15px;
  border: none;
  border-radius: 2px;
  margin-bottom: 8px;

  @include media-tablet {
    margin-bottom: 11px;
  }
}

.form__button {
  width: 100%;
}