.gallery {
  padding-top: 20px;
  padding-bottom: 3px;

  @include media-tablet {
    padding-top: 40px;
  }
  @include media-desktop {
    padding-top: 100px;
  }
}

.gallery__navigation-wrapp {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin-bottom: 31px;

  @include media-tablet {
    margin-bottom: 21px;
  }

  @include media-desktop {
  margin-bottom: 46px;
  }
}

.gallery__navigation {
  @include media-desktop {
  display: none;
  }
}

.gallery__title {
  margin-bottom: 10px;
}

.gallery__text {
  @include media-tablet {
    margin-right: 180px;
  }

  @include media-desktop {
    margin-right: 608px;
  }
}

.gallery__img1 {
  display: block;
  width: 158px;
  height: 266px;
  object-fit: cover;

  @include media-tablet {
    width: 253px;
    height: 418px;
  }

  @include media-desktop {
    width: 284px;
    height: 463px;
  }
}

.gallery__img2 {
  display: block;
  width: 157px;
  height: 130px;
  object-fit: cover;

  @include media-tablet {
    width: 252px;
    height: 205px;
  }

  @include media-desktop {
    width: 284px;
    height: 228px;
  }
}

.gallery__container {
  display: flex;
  gap: 5px;
}

.gallery__img-wrapp {
  width: 157px;
  height: 266px;
  display: flex;
  flex-direction: column;
  gap: 7px;

  @include media-tablet {
    width: 252px;
    height: 418px;
  }

  @include media-desktop {
    width: 284px;
    height: 463px;
  }
}