.header {
  background-color: $color-bg-primary;
  padding-top: 15px;
  padding-bottom: 15px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include media-tablet {
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: left;
  }

  @include media-desktop {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  // * {
  //   outline: auto;
  // }
}

.header__burger {
  @include btn-reset;
  box-sizing: border-box;
  display: block;
  width: 26px;
  height: 26px;

  background-image: url("../__spritemap#sprite-menu-view");
  background-repeat: no-repeat;
  background-size: 26px 20px;
  background-position: left;

  @include media-tablet {
    padding-right: 200px;
  }

  @include media-desktop {
    display: none;
  }
}

.header__nav {
  display: none;

  @include media-desktop {
    display: block;
  }
}

.header__list {
  @include list-reset;
  display: flex;
  gap: 30px;

}

.header__wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  text-align: right;

  justify-content: flex-end;


  @include media-tablet {
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 0;
    justify-content: space-between;

  }

  @include media-desktop {
    justify-content: space-between;
  }
}

.header__logo {
  display: block;
  width: 142px;
  height: 42px;

  @include media-tablet {
    padding-left: 68px;
    // padding-right: 42px;
  }

  @include media-desktop {
    padding: 10px 31px 10px 32px;
  }
}

.header__tel {
  @include font ($size: 14px, $weight: 600, $color: $color-white);
  text-decoration: none;

  @include media-tablet {
    font-size: 16px;
    margin-top: 2px;
  }

  @include media-desktop {
    font-size: 18px;
  }
}

.header__tel {
  cursor: pointer;

  &:hover {
    color: $color-white-50;
  }

  &:focus {
    color: $color-text-base;
    outline: none;
  }

  &:active {
    color: $color-active;
  }

  &:disabled {
    color: $color-disabled;
  }
}

// .header__link {

// }