.hero {
  position: relative;
}

.hero__list {
  @include list-reset;
  display: flex;
  // flex-direction: column;
}

.hero__item {
  box-sizing: border-box;
  min-width: 320px;
  min-height: 568px;
  padding-top: 40px;
  padding-bottom: 56px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  background-color: $color-bg-img;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  &--1 {
    background-image:
    linear-gradient(133deg,rgba(15, 20, 41, 0.4), rgba(15, 20, 41, 0)),
      image-set(url("../../img/kavkaz_1x.webp") 1x type("image/webp"),
        url("../..img/kavkaz_1x.jpg") 1x,
        url("../../img/kavkaz_2x.webp") 2x type("image/webp"),
        url("../../img/kavkaz_2x.jpg") 2x);
  }

  &--2 {
   background-image:
    linear-gradient(133deg,rgba(15, 20, 41, 0.4), rgba(15, 20, 41, 0)),
      image-set(url("../../img/kamchatka_1x.webp") 1x type("image/webp"),
        url("../..img/kamchatka_1x.jpg") 1x,
        url("../../img/kamchatka_2x.webp") 2x type("image/webp"),
        url("../../img/kamchatka_2x.jpg") 2x);
  }

  &--3 {
    background-image:
    linear-gradient(133deg,rgba(15, 20, 41, 0.4), rgba(15, 20, 41, 0)),
      image-set(url("../../img/altay_1x.webp") 1x type("image/webp"),
        url("../..img/altay_1x.jpg") 1x,
        url("../../img/altay_2x.webp") 2x type("image/webp"),
        url("../../img/altay_2x.jpg") 2x);
  }

  @include media-tablet {
    min-width: 768px;
    min-height: 1034px;
    padding-top: 342px;
    padding-bottom: 402px;

    &--2 {
      padding-top: 137px;

      padding-bottom: 197px;
    }
  }
}

.hero__title {
  margin-top: auto;
  margin-bottom: 15px;
}

.hero__text {
  margin-bottom: 60px;

  @include media-tablet {
  margin-bottom: 35px;
  padding-left: 89px;
  padding-right: 89px;
  }
}

.hero__btn {
  margin-bottom: auto;
  flex-shrink: 0;
  min-width: 180px;

  @include media-tablet {
    margin-bottom: 45px;

  }
}

.hero_bullit-wrapp {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  gap: 20px;
}

.hero__img {
display: none;

@include media-tablet {
display: block;
width: 442px;
height: 365px;
}


@include media-desktop {
  width: 410px;
  height: 459px;
}
}