.hero {
  position: relative;
}

.hero__list {
  @include list-reset;
  display: flex;
  // flex-direction: column;
}

.hero__item {
  box-sizing: border-box;
  min-width: 320px;
  min-height: 568px;
  padding-top: 40px;
  padding-bottom: 56px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  background-color: $color-bg-img;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  &--1 {
    background-image:
      linear-gradient(133deg, rgba(15, 20, 41, 0.4), rgba(15, 20, 41, 0)),
      image-set(url("../../img/kavkaz_1x.webp") 1x type("image/webp"),
        url("../..img/kavkaz_1x.jpg") 1x,
        url("../../img/kavkaz_2x.webp") 2x type("image/webp"),
        url("../../img/kavkaz_2x.jpg") 2x);
  }

  &--2 {
    background-image:
      linear-gradient(133deg, rgba(15, 20, 41, 0.4), rgba(15, 20, 41, 0)),
      image-set(url("../../img/kamchatka_1x.webp") 1x type("image/webp"),
        url("../..img/kamchatka_1x.jpg") 1x,
        url("../../img/kamchatka_2x.webp") 2x type("image/webp"),
        url("../../img/kamchatka_2x.jpg") 2x);
  }

  &--3 {
    background-image:
      linear-gradient(133deg, rgba(15, 20, 41, 0.4), rgba(15, 20, 41, 0)),
      image-set(url("../../img/altay_1x.webp") 1x type("image/webp"),
        url("../..img/altay_1x.jpg") 1x,
        url("../../img/altay_2x.webp") 2x type("image/webp"),
        url("../../img/altay_2x.jpg") 2x);
  }

  @include media-tablet {
    min-width: 768px;
    min-height: 1034px;
    padding-top: 342px;
    padding-bottom: 402px;

    &--2 {
      padding-top: 137px;
      padding-bottom: 197px;
    }
  }

  @include media-desktop {
    position: relative;
    min-width: 1440px;
    min-height: 800px;
    padding-top: 200px;
    padding-bottom: 80px;
    text-align: left;

    align-items: flex-start;
  }
}

.hero__title {
  margin-top: auto;
  margin-bottom: 15px;

  @include media-desktop {
    margin-top: 0;
    // text-align: left;
    margin-bottom: 25px;
    padding-right: 256px;

  }
}

.hero__text {
  margin-bottom: 60px;

  @include media-tablet {
    margin-bottom: 35px;
    padding-left: 89px;
    padding-right: 89px;
  }

  @include media-desktop {
    // text-align: left;
    padding-left: 0;
    padding-right: 780px;
  }
}

.hero__btn {
  margin-bottom: auto;
  flex-shrink: 0;
  min-width: 180px;

  @include media-tablet {
    margin-bottom: 45px;
  }

  @include media-desktop {
    margin-bottom: 134px;

  }
}

.hero_bullit-wrapp {
  position: absolute;
  bottom: 40px;
  right: 50%;
  transform: translate(50%);
  display: flex;
  gap: 20px;

  @include media-desktop {
    bottom: 92px;
    right: 120px;
    transform: none;
  }
}

.hero__img {
  display: none;

  @include media-tablet {
    display: block;
    width: 442px;
    height: 365px;
  }

  @include media-desktop {
    position: absolute;
    width: 410px;
    height: 459px;
    top: 187px;
    right: 120px;
  }
}

.hero__features-list {
  display: none;

  @include media-desktop {
    @include list-reset;
    display: flex;
    gap: 10px;
    align-items: center;
  }
}

.hero__features-item {
  box-sizing: border-box;
  padding: 14px 20px;
  border: 1px solid $color-white-50;

  display: flex;
  gap: 3px;
  align-items: center;

  &::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }

  &--day::before {
    background-image: url("../__spritemap#sprite-night-view");
  }

  &--level::before {
    background-image: url("../__spritemap#sprite-level1-view");
  }

}

.hero__features-text {
  color: $color-white;
}