.img__wrapp1 {
  width: 158px;
  height: 266px;
  overflow: hidden;
  flex-shrink: 0;
  // outline: 1px solid red;

  // border: 3px solid red ;

  @include media-tablet {
    width: 253px;
    height: 418px;
  }

  @include media-desktop {
    width: 284px;
    height: 463px;
    flex-shrink: 1;
  }
}

.img__wrapp2 {
  width: 157px;
  height: 134px;
  overflow: hidden;

  @include media-tablet {
    width: 252px;
    height: 210px;
  }

  @include media-desktop {
    width: 284px;
    height: 233px;
  }
}

.img__wrapp3 {
  width: 157px;
  height: 125px;
  overflow: hidden;

  @include media-tablet {
    width: 252px;
    height: 203px;
  }

  @include media-desktop {
    width: 284px;
    height: 223px;
  }
}
