.nav--open {
 display: none;

 @include media-desktop {
display: block; 
}
}

.nav__link {

  &:hover {
    border-bottom: 1px solid currentColor;
  }

  &:focus {
    border: 1px solid currentColor;
    outline: none;
  }

  &:active {
    color: $color-active;
    border: 1px solid transparent;
  }

  &--disabled {
    color: $color-disabled;
  }

  &--footer {
    @include font ($size: 14px, $color: $color-text-base);
    text-decoration: none;

    @include media-desktop {
      font-size: 16px;
      text-decoration: none;
      padding: 3px 5px;
    }

    &:active {
      color: $color-additional;
    }
  }
}