.training {
  padding-top: 20px;
  padding-bottom: 20px;

  @include media-tablet {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.training__navigation-wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  @include media-tablet {
    margin-bottom: 30px;
  }
}

// .training__navigation {
// margin-top: 20px;
// }

.training__title {
  margin-bottom: 18px;

  @include media-tablet {
    margin-bottom: 26px;
  }
}

.training__text {
  margin-bottom: 25px;
}

.training__instructors {
  padding-top: 0;


}

.training__list {
  @include list-reset;
  display: flex;
  // flex-direction: column;
  gap: 15px;
  margin-bottom: 25px;

  overflow-x: hidden;

  @include media-tablet {
    gap: 20px;
  }
}

.training__item {
  box-sizing: border-box;
  min-width: 290px;
  padding: 15px;

  border: 1px solid $color-line-light;

  @include media-tablet {
    min-width: 212px;
  }
}

.training__img {
  width: 260px;
  height: 200px;
  object-fit: cover;

  margin-bottom: 15px;

  @include media-tablet {
    width: 183px;
  }

  @include media-desktop {
    width: 255px;
  }
}

.training__name-wrapp {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin-bottom: 15px;

}

// .training__name {
// }

.training__subtitle {
  margin-bottom: 25px;

  @include media-tablet {
    margin-bottom: 104px;
  }
}

.training__name-link {
  box-sizing: border-box;
  display: inline-block;
  width: 24px;
  height: 24px;

  border: 1px solid $color-line;

  background-repeat: no-repeat;
  background-size: 14px 8px;
  background-position: center;
  background-image: url("../__spritemap#sprite-vk-view");
}

.training__process-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  margin-right: 30px;

  @include media-tablet {
    // height: 192px;
    flex-direction: row;
    gap: 104px 198px;
    flex-wrap: wrap;
    margin-right: 0;

  }
}

.training__process-item {
  padding-bottom: 25px;
  position: relative;

  display: flex;
  gap: 15px;
  align-items: flex-start;

  // outline: auto;

  &::before {
    box-sizing: border-box;
    padding-top: 11px;
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background-color: $color-bg-primary;
    border-radius: 50%;
    flex-shrink: 0;

    @include media-tablet {
      display: none;
    }
  }

  &:not(:last-child)::after {
    position: absolute;
    content: '';
    display: block;
    width: 2px;
    height: 100%;

    left: 6px;
    top: 12px;
    bottom: 10px;

    background-color: $color-bg-primary;

    @include media-tablet {
      display: none;
    }
  }

  @include media-tablet {
    padding-bottom: 0;
    width: 232px;

    &--two {
      order: 1;
    }

    &--end {
      order: 2;
    }
  }
}

.training__process {
  display: flex;
  gap: 9px;

  &::before {
    display: block;
    content: '';
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    flex-shrink: 0;

  }

  &--map:before {
    background-image: url("../__spritemap#sprite-map-view");
  }

  &--boots:before {
    background-image: url("../__spritemap#sprite-boots-view");
  }

  &--tree:before {
    background-image: url("../__spritemap#sprite-tree-view");
  }

  &--mountain:before {
    background-image: url("../__spritemap#sprite-mountain-view");
  }
}