.page {
  /*  для стики-футера */
  height: 100%;
  scroll-behavior: smooth;
}

.page__body {
  position: relative;
  margin: 0 auto;
  background-color: $color-white;
  min-width: $mobile-width;

  /*  для стики-футера */
  display: flex;
  min-height: 100%;
  flex-direction: column;

  &--noscroll {
    overflow: hidden;
  }
}

.page__main {
  background-position: top 578px right 0;
  background-repeat: no-repeat;
  background-size: auto;

  background-image:
    image-set(url("../img/background/clouds-mob_1x.webp")  type("image/webp"),
    url("../img/background/clouds-mob_1x.png"));

  @include media-tablet {
    background-position: top 942px right 0, top 4162px right -235px;
    background-image:
      image-set(url("../img/background/clouds1-tabl_1x.webp") type("image/webp"),
      url("../img/background/clouds1-tabl_1x.png")),
      image-set(url("../img/background/clouds2-tabl_1x.webp") 1x type("image/webp"),
      url("../img/background/clouds2-tabl_1x.jpg"));
  }

  @include media-desktop {
    background-position: top 674px right 0, top 3517px right -345px;
    background-image:
      image-set(url("../img/background/clouds1-desct_1x.webp") type("image/webp"),
      url("../img/background/clouds1-desct_1x.png")),
      image-set(url("../img/background/clouds2-desct_1x.webp") type("image/webp"),
      url("../img/background/clouds2-desct_1x.png"));
  }

  /*  для стики-футера */
  flex-grow: 1;
}
