.page {
  /*  для стики-футера */
  height: 100%;
  scroll-behavior: smooth;
}

.page__body {
  position: relative;
  margin: 0 auto;
  background-color: $color-white;
  min-width: $mobile-width;

  /*  для стики-футера */
  display: flex;
  min-height: 100%;
  flex-direction: column;

  // z-index: -3;
}

.page__main {
  background-position: top 578px right 0;
  background-repeat: no-repeat;
  background-size: auto;

  // scroll-behavior: smooth;
  // z-index: -2;

  // background-color: antiquewhite;

  background-image:
    image-set(url("../../img/background/clouds-mob_1x.webp") 1x type("image/webp"),
    url("../../img/background/clouds-mob_1x.png") 1x,
    url("../../img/background/clouds-mob_2x.webp") 2x type("image/webp"),
    url("../../img/background/clouds-mob_2x.png") 2x);

  @include media-tablet {
    background-position: top 942px right 0, top 4162px right -235px;
    background-image:
      image-set(url("../../img/background/clouds1-tabl_1x.webp") 1x type("image/webp"),
      url("../../img/background/clouds1-tabl_1x.png") 1x,
      url("../../img/background/clouds1-tabl_2x.webp") 2x type("image/webp"),
      url("../../img/background/clouds1-tabl_2x.png") 2x),
      image-set(url("../../img/background/clouds2-tabl_1x.webp") 1x type("image/webp"),
      url("../../img/background/clouds2-tabl_1x.jpg") 1x,
      url("../../img/background/clouds2-tabl_2x.webp") 2x type("image/webp"),
      url("../../img/background/clouds2-tabl_2x.jpg") 2x),;
  }

  @include media-desktop {
    background-position: top 674px right 0, top 3517px right 0;
    background-image:
      image-set(url("../../img/background/clouds1-desct_1x.webp") 1x type("image/webp"),
      url("../../img/background/clouds1-desct_1x.png") 1x,
      url("../../img/background/clouds1-desct_2x.webp") 2x type("image/webp"),
      url("../../img/background/clouds1-desct_2x.png") 2x),
      image-set(url("../../img/background/clouds2-desct_1x.webp") 1x type("image/webp"),
      url("../../img/background/clouds2-desct_1x.jpg") 1x,
      url("../../img/background/clouds2-desct_2x.webp") 2x type("image/webp"),
      url("../../img/background/clouds2-desct_2x.jpg") 2x),;
  }

  &--noscroll {
    overflow: hidden;
  }
}

// РАЗКОММЕНТИРОВАТЬ!!!
// .page__main {
//   /*  для стики-футера */
//   flex-grow: 1;
// }


// ПРОВЕРИТЬ еще раз - а нужен ли? - для блока инструкторов
// picture {
//   display: block;
//   width: fit-content;
//   height: fit-content;
//   // outline: auto;
// }


// *{
//   outline: auto;
// }
