// FONTS

$font-base: "Montserrat", arial, sans-serif;

// COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-white-50: rgba(255, 255, 255, 0.5);


//  для текста
$color-text-base: #2D383F;
$color-text-shadow: rgba(45, 56, 63, 0.03);


//  для фонов
$color-bg-primary: #0266C1;
$color-btn-disabled: #999999;
$color-bg-img: #466182;


//  для линий
$color-line: rgba(45, 56, 63, 0.3);


$color-line-light: rgba(2, 102, 193, 0.1);

$color-line-footer: rgba(45, 56, 63, 0.2);

//  для тени

$color-shadow: rgba(28, 51, 116, 0.1);


//  для форм
$color-form-error: #FF121F;

// WIDTH
$desktop-width: 1440px;
$tablet-width: 768px;
$mobile-width: 320px;
